/* This is a custom CSS stylesheet */


body {
    background-color: lightblue;
}

.header {
    border-bottom: thin solid grey;
    padding: 10px 0;
    margin-bottom: 30px;
}

header h3 {
    float: left;
}

#totalbox {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    float: right;
}

.jumbotron {
    text-align: center;
    clear: both;
    
}

#main {
   /* display: none;*/ /*Uncomment when showSection() is ready */
}
/*
fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
}

#field1 label, #field2 label{
    display: inline-block;
    width: 150px;
    text-align: left;
}
input {
    display: inline-block;
}
*/

#field1 label, #field2 label {
    text-align: left;
}

#submit-btn {
    text-align: center;
}

.highlight {
    background-color: #FF9999;
    color: #FFFFFF;
}

#other-box {
    display: none;
}

footer {
    border-top: thin solid grey;
    padding: 20px 0;
    margin-top: 10px;
    text-align: center;
}