/* This is a custom CSS stylesheet */


body {
    background-color: lightblue;
}

.header {
    border-bottom: thin solid grey;
    padding: 10px 0;
    margin-bottom: 30px;
}

header h3 {
    float: left;
}

#total-box {
    width: 300px;
    height: 50px;
    font-weight: bold;
    margin: 30px auto 0px auto;
    text-align: center;
    font-size: 2em;
    background-color: lightblue;
}

#total {
    background-color: lightblue;
    border: 0;
    width: 100px;
}

.jumbotron {
    text-align: center;
    clear: both;
    
}

.mainhide {
   display: none; /*change container div, billing section, form-submit, and totalbox to to .mainhide when ready*/
}
/*
fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
}

#field1 label, #field2 label{
    display: inline-block;
    width: 150px;
    text-align: left;
}
input {
    display: inline-block;
}
*/

#field1 label, #field2 label {
    text-align: left;
}

.align-btn {
    text-align: center;
    margin-top: 20px;
}

.highlight {
    background-color: #FF9999;
    color: #FFFFFF;
}

#other-box {
    display: none;
}

footer {
    border-top: thin solid grey;
    padding: 20px 0;
    margin-top: 10px;
    text-align: center;
}